.slider__dot {
	margin-right: 10px;
    border: 2px solid #7c7a78;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    outline: none;
}

.slider__dot.active {
	background-color: #f15730;
}