.slider {
	margin: 0 auto;
	max-width: 1000px;
}

.slider-wrapper {
	margin: 20px auto 20px;
	display: grid;
	grid: auto / repeat(9, auto);
	justify-content: center;
}

.slider__item {
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}

}

.slider__nav {
	font-size: 20px;
}



.slider__dots {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
}

.slider__dot {
	margin-right: 10px;
    border: 2px solid #7c7a78;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    outline: none;
}

.slider__dot.active {
	background-color: #f15730;
}